@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");

/* Trigger button  */
.ham-icon {
  height: 2rem;
  /* width: 100%; */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  transform: translateY(12px);
}

.line {
  width: 1.5rem;
  height: 0.3rem;
  border-radius: 1px;
  border-bottom: 3px solid black;
  cursor: pointer;
}

.active {
  position: absolute;
  z-index: 500;
  right: 10px;
}

/* Displayed button */
.menu {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 320px;
  right: 0;
  top: 0;
  background: linear-gradient(
    45deg,
    rgb(245, 205, 81) 0%,
    rgb(247, 206, 81) 100%
  );
  transition: 0.5s;
  transform: translateX(100%);
}

.sidebar_container {
  /* background-color: blue; */
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}

.sidebar_container > div:hover {
  background: linear-gradient(
    45deg,
    rgb(187, 154, 57) 0%,
    rgba(247, 206, 81, 0.76) 100%
  );
  /* background: red; */
}

.show {
  transform: translateX(0);
  transition: 0.5s;
}
